<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
</head>
<body>
<header>
    <h1>Log In</h1>
</header>
<main>
    <form action="/perform_login" method="post">
        <input type="text" required name="username" placeholder="Username"/>
        <input type="password" required name="password" placeholder="Password"/>

        <button type="submit">Log In</button>
    </form>

    <p>Don't have an account? <a th:href="@{/signup}">Sign up</a> here!</p>
</main>
<footer>

</footer>
</body>
</html>
