<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>

</head>
<body>
<header>
    <h1>User Info</h1>
</header>
<main>

    <p th:text="'Username:' + ${user.username}"/>
    <p th:text="'First Name:' + ${user.firstName}"/>
    <p th:text="'Last Name:' + ${user.lastName}"/>
    <p th:text="'Date of Birth:' + ${user.dateOfBirth}"/>
    <p th:text="'Bio:' + ${user.bio}"/>

    <section id="posts">
        <article th:each="post : ${user.getPosts()}">
            <h3 th:text="${post.getPoster().getUsername()   }"></h3>
            <h4 th:text="${post.getCreatedAt()}"></h4>
            <p th:text="${post.getBody()}"></p>
        </article>
    </section>

</main>
<footer>

</footer>
</body>
</html>
